<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>
<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<%= link_to "< back", restaurants_path %>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      (<%= review.rating %>) <%= review.content %>
    </li>
  <% end %>
</ul>
